.app-brand{
  background: url('../../assets/logo/logo.jpeg'),red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.app-brand a {
  padding-left: 0px;
}
.sub-menu li {
  cursor: pointer;
}
